
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

thead tr {
    background-color: #120635;
    color: white;
}

tbody tr:hover {
    background-color: #09154d; /* Darker shade on hover */
}

tbody td {
    background-color: #06165e; /* Normal background color */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}
