*,
*::after,
*::before {
  box-sizing: border-box;
}
/* remove nav styling from here make sure the travelo styling is copird to  navbar css */
body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: #033f76    ;
  font-weight: 600;
  width: 100%;
  overflow-x: hidden;
}
.blue{
width: 100%;
height: 100%;
opacity: 0.05;

}

.container {
    position: relative;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
  overflow: hidden;
}

.center {
  position: absolute;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translate(-50%);
  user-select: none;
}

.items {
  transform-origin: center 200vh;
  transform: rotate(0);
  user-select: none;
  display: flex;
}

.item {
  position: absolute;
  user-select: none;
  cursor: pointer;
  transform: translateX(-50%);
}

.card {
  display: block;
  width: 430px;
  height: 610px;
  color: #fff;
  user-select: none;
  border-radius: 17px;
  overflow: hidden;
  cursor: grab;
  position: relative;
  border: 10px solid #bc863e;
  filter: grayscale(0) brightness(80%);
}
.card:hover{
    filter: grayscale(0) brightness(110%);
    transition: 1s ease;
    scale: 1.1;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}



@media screen and (max-height: 1000px) {
  .card {
    width: 350px;
    height: 497px;
  }
}
@media screen and (max-height: 800px) {
  .card {
    width: 300px;
    height: 400px;
  }
  .overlay{
    transform: translate(4rem);
  }
}
@media screen and (max-height: 700px) {
  .card {
    width: 300px;
    height: 400px;
  }
  .overlay{
    transform: translate(-15rem);
  }
}
.info {
  position: absolute;
  z-index: 20;
  top: 10px;
  left: 10px;
}

a {
  color: black;
  opacity: 80;
  text-decoration: underline;
}
div.overlay {
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -110%);
  padding-top: 12%;
  color: #fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  z-index: 1;
  filter: drop-shadow(0px 0px 10px #000a);
  pointer-events: none;
  user-select: none;
}
div.overlay h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 4.2rem;
  font-weight: bolder;
  margin: 0;
  color: #fff;
  text-shadow: 5rem;
  text-align: center;
  align-items: center;
 
}

div.overlay a {
  font-family: Verdana;
  font-size: 1.2rem;
  margin: 0;
  text-decoration: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: 0.5rem;
  box-sizing: content-box;
  pointer-events: all;
  cursor: pointer;
  text-transform: uppercase;
}
div.overlay a:after {
  content: '';
  position: absolute;
  bottom: 0.25rem;
  left: -5%;
  right: -5%;
  height: 2px;
  overflow: hidden;
  background-color: #ddd;
  transform: translateX(-100%);
}
div.overlay a:hover:after {
  transform:translateX(0);
  transition: 0.4s ease;
}
div.overlay a.leave:after {
  transform: translateX(100%);
  transition: 0.4s ease;
}

  /*******************************************/
  #new-section{
    position: absolute;
    top: 102%;
    height: 100vh;
    background-color: #f4df9c;
  }
  #service {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
  }
  video{
    object-fit: cover;
  }
  
  .background-video {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(154, 145, 116, 2.9), rgba(154, 145, 116, 9.9),rgba(154, 145, 116, 0.8),transparent);
    z-index: 0;
  }
  
  
  .content {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    height: 100%;
    padding: 2%;
    width: 50%; 
    box-sizing: border-box; 
    overflow-y: none; 
    
  }
  .background-opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("blue.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05; 
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(154, 145, 116, 2.9), rgba(154, 145, 116, 9.9),rgba(154, 145, 116, 0.8),transparent);
    z-index: 0;
  }
  .content li{
    list-style-type:none;
    padding-left: 0;
  }
  .content h2 {
    position: relative;
    margin-bottom: 20px;
    color: azure;
    font-family: 'Perpetua Titling MT';
  }

  .content h3{
    color: #fff;
    font-size: 105%;
    font-family: 'Perpetua Titling MT';
  }

  .content p{
    margin-bottom: 20px;
    position: relative;
    padding-left: 8%;
    color: #fff;
    font-size: 100%;
  }

  .content p::after{
    content: "";
    position: absolute;
    top: 0;
    left: 3.2%; 
    width: 2px; 
    height: 100%;
    background-color: #fff; 
  }

  .con {
    padding-top: 5%;
    margin-bottom: 20px;
    position: relative; 
  }
  .number {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid gray; 
    border-radius: 50%;
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-right: 8px;
    position: relative;
    overflow-y: hidden;
  }
  /*********************************************/
  .section2 {
    position: relative;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 205vh;
  }
  
  .main-container {
    z-index: 999;
    justify-content: center;
    align-items: center;
    background: url(blue\ -\ Copy.png),radial-gradient(
    circle,
    rgba(3, 63, 118, 0.1) 10%,
    rgba(246, 240, 224, 0.5) 80%
  );
    background-size: cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.355);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(99, 94, 94, 0.141);
    border-radius: 25px;
    padding: 30px 0;
    width: min(1200px, 100%);
    overflow-x: auto;
  }
  
  .main-container h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    color: #033f76;
    margin: 10px 0 30px;
    text-transform: uppercase;
  }
  .icons-container{
    
    align-items: center;
    text-align: center;
    filter: brightness(0) invert(2);;
  }
  #line-3{
      margin-bottom: 50px;
  }
  .text li{
    text-align: left;
    padding-left: 10px;
    font-size: 1.5rem;
    color: #f9fce3;
  }
  .swiper-wrapper {
    display: flex; 
    overflow-x: auto;
    width: 100%; 
  }
  .swiper-wrapper::-webkit-scrollbar {
    width: 5px; 
    background-color: transparent; 
  }
  
  .swiper-wrapper::-webkit-scrollbar-thumb {
    background-color: #033f76; 
    border-radius: 10px; 
  }
  .swiper-slide {
    flex: 0 0 auto; 
    margin-right: 16px; 
  }
  .swiper {
    height: 100%;
    margin-bottom: 30px;
  }
  
  .post {
    max-width: 400px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-text);
    background: rgba(3, 63, 118, 0.2);
    box-shadow: 0 4px 30px rgba(251, 250, 250, 0.1);
    border-radius: 10px;
    padding: 16px 16px 0;
    margin-bottom: 16px;
  }
  
  .post-img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 4/3;
    border-radius: 6px;
    user-select: none;
    pointer-events: none;
  }
  
  .post-body {
    display: grid;
    grid-template-columns: 15% 60% 20%;
    align-items: center;
    gap: 8px;
    padding: 15px 0;
    cursor: default;

  }
  .post-name {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .post-author {
    width: fit-content;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0.6;
    color: var(--clr-text);
  }
  
  .post-avatar {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .post-actions-content li {
    padding: 0.5rem 0.65rem;
    border-radius: 0.25rem;
    list-style: none;
  }
  
  @media (max-width: 1200px) { 
    .swiper {
        width: 100%;
      }
  }
  
  @media (max-width: 900px) {
  
    .swiper {
      width: 100%;
    }
  }
  
  @media (max-width: 765px) {
    .swiper {
      width: 100%;
    }
  }
  
  @media (max-width: 550px) {

    .swiper {
      width: 100%;
    }
  }
  /******************************/
  .contact {
    background-color: #bc853e97;
    color: black;
    width: 100vw;
    height: 25vh;
    margin-top: 3rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }
  .info-container{
    display: flex;
    align-items: center;
    
  }
  .join-icons {
    margin-right: auto;
    margin-left: 1.5rem;
    font-size: 2rem; 
    padding-left: 5rem;
  }
  .contact-info {
    margin-left: auto; 
  }
  .contact-info div {
    display: flex;
    align-items: center;
    
  }
  .contact-info i{
    font-size: 1.5rem;
    padding-right: 0.2rem;
  }
  .contact-info p {
    margin: 0;
    margin-left: 10px;
    margin-right: 7rem;
  }
  .email a{
    padding-left: 0.7rem;
    text-decoration: none;
  }
  .email a:hover{
    text-decoration: underline;
  }
  .bot-info a{
    padding-left: 0.7rem;
    text-decoration: none;
  }
  .bot-info a:hover{
    text-decoration: underline;
  }

  a{
    cursor: pointer;
  }

  
  

  
  
  