body{
  margin: 0;
  padding: 0;
  background-color: #033f76;
}
.profile{
      width: 5rem;
      height: 5rem;
      border-radius: 3rem;
      margin-top: -0.5rem; 
      margin-left: 1.5rem;
}
li img{
  width: 5rem;
  height: 5rem;
}
.logo-div{
  display: flex;
}
.logo{
  font-size: 1.6rem;
  padding-left: 0.5rem;
  margin-top: 1.5rem;
  font-family: 'Castellar';
  color: #bc863e;
}

header{
  position: absolute;
  width: 100%;
  z-index: 9999;
  padding: 0rem;
  height: 5.5rem;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  background-color: white ;
}
header nav{
  color: #bc863e;
  font-weight: 600;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  list-style: none; 
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}
.side-menu {
  position: fixed;
  top: 0;
  left: -64rem; 
  width: 14rem;
  height: 100vh; 
  background-color: #fff;
  transition: left 0.3s ease;
  text-align: center;
  padding: 1rem;
}
.side-menu.open {
  left: 0; 
  transition: left 0.3s ease; 
}
.side-menu a {
  margin: 0;
  padding: 0;
  text-decoration: none; 
  display: block;
  padding: 10px 20px; 
  color: #033f76; 
  transition: color 0.3s ease; 
}

.side-menu a:hover {
  color: #bc863e; 
}

.side-menu a.active {
  font-weight: bold; 
}

.side-menu a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #bc863e; 
  transition: width 0.3s ease; 
}
.side-menu a:not(:last-child) {
  border-bottom: 1px solid #ccc; 
}
.side-menu a:hover::after {
  width: 100%; 
}

.list {
  margin-left: -1.5rem;
}

.list a {
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  background-color: rgba(118, 134, 62, 0.289);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
}
.list .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.list .bar::before,
.list .bar::after {
  content: "";
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  width: 60%;
  height: 120%;
  background-color: inherit;
  border-radius: 2px;
}

.list .bar::before {
  top: -4.5px;
}

.list .bar::after {
  top: 4.5px;
}

.profilediv{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.profilediv p{
  margin-top: 2rem;
  margin-right: 1.5rem;
}
.profileli{
  width: 5rem;
  height: 5rem;
  margin-left: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  position: relative;
}
.side-menu-link {
  color: black; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.side-menu-link:hover,
.side-menu-link.active {
  color: #bc863e; 
}
  .container-history{
    background-color: #fff;
    height:100vh;
    margin-top: 8rem;
    width: 90vw;
    transform: translate(5%);
    border-radius: 2rem;
    
  }
  .container-history h2{
    padding: 1rem;
    font-size: 2rem;
    color: #32a890;
  }
#details-container {
  display: none; /* Initially hidden */
 position: fixed; /* Overlays the main content */
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  background-color: white;
  padding: 20px;
  border: 1px solid #32a890;
  border-radius: 5px;
  z-index: 9999;
  width: 300px;
  height: 200px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
}

.close-btn {
  background-color: #32a89066;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn:hover {
  background-color: #c3e4db;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
table tr{
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

tr:nth-child(2):hover,tr:nth-child(3):hover,tr:nth-child(4):hover,tr:nth-child(5):hover{
  background-color: #c3e4db
}
table tr td{
  padding: 10px;
}
td{
  text-align: center;
}
td{
  font-size: 1rem;
}
tr a{
  text-decoration: none;
  color: #32a890;
}
tr a:hover{
  text-decoration: underline;
  color: #32a890;
}
#row-two{
  font-size: 0.9rem;
  color: #cecaca;
}

