body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.profile .card {
    border-radius: 10px;
}

.profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.profile .card p {
    font-size: 16px;
    color: #000;
}

.profile .table th,
.profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.btn {
	background-color: var(--blue);
	background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
	border-radius: 20px;
	border: 1px solid var(--yellow);
	color: var(--black);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    padding: 2em;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

/* styles.css */
.aboveAll
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
}

.avatar-container {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown-menu div:hover {
    transform: scale(3.1); 
    z-index: 100; 
    background-color: #f0f0f02f; /* Optional: changes background on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.25); /* Adds shadow for 3D effect */
}

.dropdown-menu div {
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-menu img {
    margin-right: 8px; /* Maintain space between the image and the text */
    transition: transform 0.3s ease; /* Smooth transition for the image as well */

}


.dropdown-menu div:hover {
    background-color: #f0f0f0;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover.tooltiptext {
    visibility: visible;
    opacity: 1;
  }
 